
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="~/Content/StyleForms.css">
</head>
<body>
    <div class="container">
        <h2>Registro de Seguimientos</h2>
        <form action="#" method="post">
            <div class="form-group search-group">
                <label for="nombreproyecto">Proyecto</label>
                <div class="search-input-container">
                    <input type="text" id="nombreproyecto" name="nombreproyecto" required class="input search-input" placeholder="Nombre del cliente">
                    <button class="search-button" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="form-group">
                <label for="fechaseg">Fecha de seguimiento</label>
                <input type="date" id="fechaseg" name="fechaseg" required class="input input-date">
            </div>
            <div class="form-group">
                <label for="comentario">Comentario</label>
                <input type="text" id="comentario" name="comentario" required class="input">
            </div>
            <div class="button-container">
                <button class="button" type="submit">Listo</button>
            </div>
        </form>
    </div>
</body>
</html>

