body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 650px;
    margin: 0px auto;
    padding: 0px;
    
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: #333; /* Color de texto */
    background-color: #f9f9f9; /* Color de fondo */
    padding: 15px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: all 0.3s ease; /* Transición suave */
}

    p:hover {
        transform: translateY(-2px); /* Efecto de elevación al pasar el cursor */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    }


h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
    font-family:'Microsoft Himalaya';
    font-size: 28px;
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: #f0f0f0;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
}
.button-container {
    width: 100%;
    text-align: center;
}

.form-group {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
}

.button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: unset;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    
}

    .button::before {
        content: '';
        position: absolute;
        inset: 0;
        left: -4px;
        top: -1px;
        margin: auto;
        width: 128px;
        height: 48px;
        border-radius: 10px;
        background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
        z-index: -10;
        pointer-events: none;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .button::after {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
        transform: translate3d(0, 0, 0) scale(0.95);
        filter: blur(20px);
    }

    .button:hover::after {
        filter: blur(30px);
    }

    .button:hover::before {
        transform: rotate(-180deg);
    }

    .button:active::before {
        scale: 0.7;
    }
.input-date {
    /* Estilos específicos para el input de tipo fecha */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: #fff;
    /* Estilos adicionales para el icono de calendario */
}

    .input-date::-webkit-calendar-picker-indicator {
        background: transparent;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .input-date:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .input-date::-webkit-inner-spin-button,
    .input-date::-webkit-outer-spin-button {
        display: none;
    }

/* Estilos para el input de cliente en el formulario de proyecto */
.search-button {
    padding: 0px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .search-button:hover {
        background-color: none;
    }

    /* Estilos para el icono de búsqueda */
    .search-button i {
        font-size: 18px;
    }


.search-button {
    margin-left: -35px; /* Ajusta este valor según sea necesario */
}
