body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: black;
    font-weight: bold;
}

.input_special,
.form-control {
    width: 420px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    width: 100px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

    .button:hover {
        background-color: #0056b3;
    }

.input-date::-webkit-calendar-picker-indicator {
    background: transparent;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
}

.input-date:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-date::-webkit-inner-spin-button,
.input-date::-webkit-outer-spin-button {
    display: none;
}
